@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80% !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

.modal-body {
  padding: 0 !important;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.genre-wrapper {
  display: flex;
  gap: 5px;
}

.genre {
  font-size: 12px;
  padding: 5px 10px;
  background-color: #242424;
  color: #FFF;
  border-radius: 30px;
}

.movie-title {
  font-size: 24px;
  font-weight: 700;
}

.movie-tagline {
  font-size: 14px;
  font-style: italic;
}